{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="teaching-item">
  <div class="image">
    {% if post.poster %}
      <img src="{{ post.poster }}" alt="{{ title }}" class="archive__item-poster" itemprop="image" />
    {% endif %}
  </div>
  <div class="description">
    <div class="title">{{ title }}</div>
    {% if post.time %}
    <p class="time"><i class="fa fa-book" aria-hidden="true"></i> {{ post.type }} <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.time }}</p>
    {% endif %}
    
    {% if post.excerpt %}
    <div class="content">{{ post.excerpt | markdownify }}</div>
    {% endif %}
    
    <div class="article-action">
    {% if post.external %}
      <p><a class="button" href=" {{ post.external }} ">Site</a></p>
    {% endif %}
    </div>
  </div>
</div>
